In [1]:
import pandas as pd

df = pd.read_csv("../data/habits.csv")
df

         date          habit_name  completed
0  2025-01-01    Wake up at 05:00          1
1  2025-01-01                 Gym          0
2  2025-01-01  Reading / Learning          1
3  2025-01-01     Budget Tracking          1
4  2025-01-01        Project Work          1
5  2025-01-01          No Alcohol          1
6  2025-01-01  Social Media Detox          0
7  2025-01-01     Goal Journaling          1
8  2025-01-01         Cold Shower          0

In [2]:
df["date"] = pd.to_datetime(df["date"])
df.dtypes

date          datetime64[ns]
habit_name            object
completed              int64
dtype: object

In [3]:
daily_progress = (
    df.groupby("date")["completed"]
      .mean()
      .reset_index(name="completion_rate")
)

daily_progress

        date  completion_rate
0 2025-01-01         0.666667

In [4]:
habit_progress = (
    df.groupby("habit_name")["completed"]
      .mean()
      .sort_values(ascending=False)
)

habit_progress

habit_name
Budget Tracking       1.0
Goal Journaling       1.0
No Alcohol            1.0
Reading / Learning    1.0
Project Work          1.0
Wake up at 05:00      1.0
Cold Shower           0.0
Gym                   0.0
Social Media Detox    0.0
Name: completed, dtype: float64

In [5]:
df["completed"].sum()

np.int64(6)

In [6]:
df["points"] = df["completed"] * 10
df.groupby("date")["points"].sum()

date
2025-01-01    60
Name: points, dtype: int64